stages:
  - test

test-job:
  stage: test
  image: quay.io/podman/stable:latest

  rules:
    - if: $CI_COMMIT_TAG =~ /^test.*/

  variables:
    PODMAN_IGNORE_CGROUPSV1_WARNING: "1"

  before_script:
    - apk add --no-cache bash git git-lfs
    - git lfs install
    - git lfs pull

  script:
    - echo "Starting TigerGraph performance test"

    # --- Start TigerGraph container ---
    - |
      podman run -d --name tigergraph \
        -p 14022:14022 \
        -p 9000:9000 \
        -v "$CI_PROJECT_DIR/initialization:/home/tigergraph/mydata:Z" \
        -v "$CI_PROJECT_DIR/queries:/home/tigergraph/queries:Z" \
        -v "$CI_PROJECT_DIR/test1:/home/tigergraph/test1:Z" \
        docker.io/tigergraph/community:4.2.2

    # --- Start TigerGraph services ---
    - |
      podman exec tigergraph bash -c \
        "./tigergraph/app/cmd/gadmin start all"

    - sleep 10

    # --- Initialize graph ---
    - |
      podman exec tigergraph bash -c \
        "source /home/tigergraph/.bashrc && \
         ./tigergraph/app/cmd/gsql < /home/tigergraph/mydata/import.gsql"

    # --- Install query ---
    - |
      podman exec tigergraph bash -c \
        "source /home/tigergraph/.bashrc && \
         ./tigergraph/app/cmd/gsql < /home/tigergraph/queries/query_01.gsql"

    # --- Install GNU time ---
    - podman exec -u root tigergraph apt update
    - podman exec -u root tigergraph apt install -y time

    # --- Run benchmark and capture output ---
    - |
      podman exec tigergraph bash /home/tigergraph/test1/test1.sh \
        | tee "output_${CI_PROJECT_NAME}.txt"

  artifacts:
    paths:
      - output_${CI_PROJECT_NAME}.txt
    when: always

  after_script:
    - podman logs tigergraph || true
    - podman rm -f tigergraph || true
